* {
    margin: 0;
    padding: 0;
}

#Handz {
    height: 650px;
    width: 100vw;
    background-image: url('home.jpg');
}

h1 {
    color: white;
    text-align: center;
    padding-top: 200px;
    font-size: 80px;
    text-transform: uppercase;
    font-family: 'Open Sans';
}

h3 {
    text-align: center;
}

#lrslpgdm {
    color: white;
    text-align: center;
    padding-bottom: 200px;
    font-size: 30px;
}

#compte {
    color: white;
    text-align: center;
}

#footer {
    height: 500px;
}

#flex {
    color: white;
    background-color: #3498db;
    display: flex;
    justify-content: space-around;
}

#flex p {
    text-align: center;
}

#flex img {
    height: 100px;
    width: 100px;
    color: white;
}
